/**
 * @name Animal Crossing
 * @version 1.0.0
 * @description A description of your theme.
 * @author clowstaff
 * @website https://betterdiscord.app/
*/
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");
@import url("https://mishakov7.github.io/ACNH-BetterDiscord/src/assets/fonts/stylesheet.css");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro");
@import url("https://fonts.googleapis.com/css2?family=Quicksand");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
:root {
  --font-headline: "fot-seurat_regular", "Quicksand", "Be Vietnam Pro", sans-serif;
  --font-primary: "Lato", "Istok Web", "Be Vietnam Pro", sans-serif;
  --font-display: "Istok Web", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-headline: "fot-seurat_regular", sans-serif;
  /* base colors */
  --drk-brown: #716550;
  --brown: #968059;
  --md-brown: #DACBAD;
  --lt-brown: #EDE1CB;
  --cream: #F5F3E5;
  --gray: #CFCEC2;
  --yellow: #FFEB4C;
  --lt-yellow: #F8EFAE;
  --lt-orange: #F8D396;
  --white: #FFF;
  --red: #e75050;
  --green: rgb(51, 182, 80);
  /* background choices */
  --bg-teal: #81D4BA;
  --bg-blue: #8A9AEF;
  --bg-pink: #F3A8B2;
  --bg-lime: #c8ce85;
  --bg-maple: #E49366;
  --btn-color: #00C2B7;
  --btn-border: solid 5px #4AE2D8;
  --teal-stripes: url("https://mishakov7.github.io/ACNH-BetterDiscord/src/assets/teal-stripes.png");
  --yellow-stripes: url("https://mishakov7.github.io/ACNH-BetterDiscord/src/assets/yellow-stripes.png");
  --orange-stripes: url("https://mishakov7.github.io/ACNH-BetterDiscord/src/assets/orange-stripes.png");
  --btn-anim: peppermint 6s infinite linear;
  --brand-experiment: #5865F2;
}

@keyframes peppermint {
  from {
    background-position-x: -8px;
  }
  to {
    background-position-x: 100%;
  }
}
@keyframes movehorizon {
  from {
    background-position-x: -8px;
    background-position-y: -8px;
  }
  to {
    background-position-x: 100%;
    background-position-y: 100%;
  }
}
[class*=theme-dark], [class*=theme-light] {
  --header-primary: var(--drkbrown);
  --header-secondary: var(--drkbrown);
  --text-normal: var(--drk-brown);
  --text-muted: var(--md-brown);
  --text-link: #146aa7;
  --text-link-low-saturation: #5b98c4;
  --text-positive: hsl(240, 9%, 89%);
  --text-warning: var(--red);
  --text-danger: var(--red);
  --text-brand: var(--red);
  --interactive-normal: var(--brown);
  --interactive-hover: var(--drk-brown);
  --interactive-active: var(--drk-brown);
  --interactive-muted: var(--lt-brown);
  --background-primary: none;
  --background-secondary: var(--cream);
  --background-secondary-alt: var(--cream);
  --background-tertiary: var(--bg-pink);
  --background-accent: none;
  --background-floating: var(--drk-brown);
  --background-mobile-primary: var(--bg);
  --background-mobile-secondary: var(--bg-lighter);
  --background-modifier-hover: var(--lt-brown);
  --background-modifier-active: var(--yellow);
  --background-modifier-selected: var(--yellow);
  --background-modifier-accent: #FFF;
  --info-positive-text: var(--white);
  --info-warning-text: var(--white);
  --info-danger-text: var(--white);
  --info-help-background: hsla(257, 25%, 14%,0.1);
  --info-help-foreground: hsl(240, 9%, 89%);
  --info-help-text: var(--white);
  --status-warning-text: var(--temp-quotes);
  --scrollbar-thin-thumb: rgba(152,139,199,0.3);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: rgba(152,139,199,0.5);
  --scrollbar-auto-track: rgba(37,33,49,0.5);
  --scrollbar-auto-scrollbar-color-thumb: rgba(152,139,199,0.5);
  --scrollbar-auto-scrollbar-color-track: rgba(37,33,49,0.5);
  --elevation-stroke: 0 0 0 1px var(--tab-drop-bg);
  --elevation-low: rgba(37, 33, 49,0.15);
  --elevation-medium: 0 4px 4px rgba(37, 33, 49,0.20);
  --elevation-high: 0 8px 16px rgba(37, 33, 49,0.25);
  --logo-primary: hsl(55, 70%, 69%);
  --control-brand-foreground: hsl(55, 70%, 69%);
  --control-brand-foreground-new: hsl(55, 70%, 69%);
  --background-mentioned: hsla(253, 35%, 66%,0.1);
  --background-mentioned-hover: hsla(253, 35%, 66%,0.2);
  --background-message-hover: rgba(65,65,77,0.1);
  --channels-default: hsla(240, 9%, 89%, 0.5);
  --guild-header-text-shadow: 0 1px 1px hsla(252, 23%, 9%, 0.4);
  --channeltextarea-background: var(--bg-darker);
  --activity-card-background: var(--bg-darker);
  --textbox-markdown-syntax: var(--color8);
  --deprecated-card-bg: var(--bg-darker);
  --deprecated-card-editable-bg: var(--bg-dark);
  --deprecated-store-bg: var(--bg-darker);
  --deprecated-quickswitcher-input-background: var(--bg-light);
  --background-spacing: var(--bg-lighter);
  --deprecated-quickswitcher-input-placeholder: rgba(225, 225, 230,0.3);
  --deprecated-text-input-bg: rgba(32, 27, 45,0.02);
  --deprecated-text-input-border: rgba(37, 33, 49,0.3);
  --deprecated-text-input-border-hover: #252131;
  --deprecated-text-input-border-disabled: #15121E;
  --deprecated-text-input-prefix: #13111B;
  --message-text-color: #ced4da;
  --info-positive-background: hsla(257, 25%, 14%,0.1);
  --info-positive-foreground: hsl(240, 9%, 89%);
  --info-warning-background: hsla(257, 25%, 14%,0.1);
  --info-warning-foreground: hsl(240, 9%, 89%);
  --info-danger-background: hsla(257, 25%, 14%,0.1);
  --info-danger-foreground: hsl(240, 9%, 89%);
  --status-positive-background: hsl(257, 25%, 14%);
  --status-positive-text: hsl(240, 33%, 98%);
  --status-warning-background: var(--color0);
  --status-danger-background: var(--bg-lighter);
  --status-danger-text: hsl(240, 33%, 98%);
  --focus-primary: var(--line-highlight);
}

[data-popout-root], html {
  --brand-experiment: var(--red);
  --brand-experiment-200: var(--text-alt);
  --brand-experiment-560: var(--line-highlight);
  --brand-experiment-30a: var(--pink);
  --brand-experiment-400: var(--text-muted);
  --brand-experiment-600: var(--red);
  --brand-experiment-15a: var(--background-tertiary);
  --brand-experiment-800: hsla(326, 100%, 74%, 0.2);
  --brand-experiment-05a: var(--line-highlight);
  --brand-experiment-10a: var(--line-highlight);
  --brand-experiment-100: var(--bg);
  --brand-experiment-500: var(--line-highlight);
  --brand-experiment-160: var(--background-tertiary);
  --brand-experiment-530: var(--pink);
}

[class*=typeWindows-] {
  background-color: #5865F2;
  padding: 5px 0;
  margin-top: 0px;
}
[class*=typeWindows-] [class*=winButtonClose-] svg polygon,
[class*=typeWindows-] [aria-label=Minimize] svg rect,
[class*=typeWindows-] svg path {
  fill: #FFF;
}
[class*=typeWindows-] [aria-label=Maximize] svg rect {
  stroke: #FFF;
}
[class*=typeWindows-] [aria-label=Minimize]:hover,
[class*=typeWindows-] [aria-label=Maximize]:hover {
  background-color: var(--yellow);
}
[class*=typeWindows-] [aria-label=Minimize]:hover svg rect {
  fill: var(--drk-brown);
}
[class*=typeWindows-] [aria-label=Maximize]:hover svg rect {
  stroke: var(--drk-brown);
}

.theme-dark .container-2cd8Mz {
  background-color: transparent;
}

[class*=theme-dark] [class*=bg-],
[class*=theme-dark] .bg-1QIAus, [class*=theme-light] [class*=bg-],
[class*=theme-light] .bg-1QIAus {
  background-image: url("https://github.com/mishakov7/ACNH-BetterDiscord/blob/main/src/assets/acnh-repeat.png?raw=true");
  background-position-x: 0px;
  background-position-y: 0px;
  animation: movehorizon 360s infinite linear;
}
[class*=theme-dark] .wrapper-3WhCwL, [class*=theme-light] .wrapper-3WhCwL {
  background: var(--cream);
  color: var(--brown);
}
[class*=theme-dark] .spoilerText-3p6IlD.hidden-HHr2R9, [class*=theme-light] .spoilerText-3p6IlD.hidden-HHr2R9 {
  background-color: var(--line-highlight);
}
[class*=theme-dark] .spoilerText-3p6IlD.hidden-HHr2R9:hover, [class*=theme-light] .spoilerText-3p6IlD.hidden-HHr2R9:hover {
  background-color: var(--line-highlight);
}
[class*=theme-dark] .subscribeTooltipWrapper-1JoUuw, [class*=theme-light] .subscribeTooltipWrapper-1JoUuw {
  background-color: var(--background-tertiary);
}
[class*=theme-dark] [class*=searchBox-], [class*=theme-light] [class*=searchBox-] {
  background-color: var(--background-tertiary);
}
[class*=theme-dark] [class*=colorStandard-2KCXvj][class*=size16-1P40sf][class*=checkboxText-20IXco], [class*=theme-light] [class*=colorStandard-2KCXvj][class*=size16-1P40sf][class*=checkboxText-20IXco] {
  background: transparent !important;
}
[class*=theme-dark] .streamPreview-2-WUWT, [class*=theme-light] .streamPreview-2-WUWT {
  background-color: var(--background-secondary);
  border-radius: 12px;
  border: 1px solid var(--line-highlight);
}
[class*=theme-dark] .watchButton-2SbJEo, [class*=theme-light] .watchButton-2SbJEo {
  border-color: var(--line-highlight);
  color: var(--white);
}
[class*=theme-dark] div[class*=protip-3-] h3, [class*=theme-light] div[class*=protip-3-] h3 {
  color: var(--text-muted) !important;
}
[class*=theme-dark] div[class*=protip-3-] div[class*=colorStandard-], [class*=theme-light] div[class*=protip-3-] div[class*=colorStandard-] {
  color: var(--white) !important;
}
[class*=theme-dark] .outer-1AjyKL.active-1xchHY, [class*=theme-dark] .outer-1AjyKL.interactive-3B9GmY:hover, [class*=theme-light] .outer-1AjyKL.active-1xchHY, [class*=theme-light] .outer-1AjyKL.interactive-3B9GmY:hover {
  background-color: var(--line-highlight);
}
[class*=theme-dark] .addGamePopout-2RY8Ju, [class*=theme-light] .addGamePopout-2RY8Ju {
  background-color: var(--background-floating);
}
[class*=theme-dark] .lookFilled-1Gx00P.colorGrey-2DXtkV:disabled, [class*=theme-light] .lookFilled-1Gx00P.colorGrey-2DXtkV:disabled {
  background-color: var(--green) !important;
  opacity: 0.4;
}
[class*=theme-dark] [class*=footer-], [class*=theme-light] [class*=footer-] {
  background-color: var(--background-secondary);
  border-color: var(--purple);
}
[class*=theme-dark] [class*=root-], [class*=theme-light] [class*=root-] {
  background-color: var(--background-secondary-alt);
}
[class*=theme-dark] [class*=root-] [class*=container-], [class*=theme-light] [class*=root-] [class*=container-] {
  background-color: var(--background-primary) !important;
}
[class*=theme-dark] [class*=bodyInnerWrapper-] [class*=root-], [class*=theme-light] [class*=bodyInnerWrapper-] [class*=root-] {
  background-color: var(--background-secondary-alt) !important;
}
[class*=theme-dark] [class*=addButtonIcon-] path, [class*=theme-light] [class*=addButtonIcon-] path {
  fill: var(--white);
}
[class*=theme-dark] [class*=actionButton-][class*=highlight-], [class*=theme-light] [class*=actionButton-][class*=highlight-] {
  background-color: var(--background-primary);
}
[class*=theme-dark] [class*=pageWrapper-], [class*=theme-light] [class*=pageWrapper-] {
  background-color: var(--background-primary);
}
[class*=theme-dark] div[class*=container-1D34oG], [class*=theme-light] div[class*=container-1D34oG] {
  background-color: var(--bb-light);
}
[class*=theme-dark] .bar-2Qqk5Z, [class*=theme-light] .bar-2Qqk5Z {
  background: var(--line-highlight);
}
[class*=theme-dark] .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC, [class*=theme-light] .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
  background-color: var(--background-floating);
  border-color: var(--interactive-active);
  border-radius: 8px;
}
[class*=theme-dark] .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC div img[class*=marginBottom20-], [class*=theme-light] .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC div img[class*=marginBottom20-] {
  filter: brightness(0.6) sepia(1) hue-rotate(-150deg) saturate(1);
}
[class*=theme-dark] .notDetected-33MY4s, [class*=theme-dark] .theme-light .notDetected-33MY4s, [class*=theme-light] .notDetected-33MY4s, [class*=theme-light] .theme-light .notDetected-33MY4s {
  background-color: var(--line-highlight);
  border-radius: 8px;
}
[class*=theme-dark] .nowPlaying-284llR, [class*=theme-light] .nowPlaying-284llR {
  background-color: var(--interactive-hover);
  border-radius: 8px;
}
[class*=theme-dark] .nowPlaying-284llR [class*=gameNameLastPlayed-] input, [class*=theme-light] .nowPlaying-284llR [class*=gameNameLastPlayed-] input {
  width: 60%;
  font-family: var(--font-primary);
  font-weight: bold;
  color: var(--text-alt);
}
[class*=theme-dark] .nowPlaying-284llR [class*=gameNameLastPlayed-] input:active, [class*=theme-light] .nowPlaying-284llR [class*=gameNameLastPlayed-] input:active {
  background-color: var(--line-highlight);
}
[class*=theme-dark] .nowPlaying-284llR [class*=gameNameLastPlayed-] input:hover, [class*=theme-light] .nowPlaying-284llR [class*=gameNameLastPlayed-] input:hover {
  background-color: var(--line-highlight);
  opacity: 0.9;
}
[class*=theme-dark] .nowPlaying-284llR [class*=gameNameLastPlayed-] div, [class*=theme-light] .nowPlaying-284llR [class*=gameNameLastPlayed-] div {
  font-family: var(--font-headline);
  letter-spacing: 1px;
  line-height: 18px;
  color: var(--text-alt);
  opacity: 0.9;
}
[class*=theme-dark] .applicationCommandEducation-2jAJ0B, [class*=theme-light] .applicationCommandEducation-2jAJ0B {
  display: none;
}
[class*=theme-dark] .gameNameInput-385LoS:hover, [class*=theme-dark] .gameNameInput-385LoS:focus, [class*=theme-light] .gameNameInput-385LoS:hover, [class*=theme-light] .gameNameInput-385LoS:focus {
  background-color: var(--line-highlight);
}
[class*=theme-dark] [class*=keybindShortcut-], [class*=theme-light] [class*=keybindShortcut-] {
  color: var(--text-muted);
}
[class*=theme-dark] [class*=codeRedemptionRedirect-], [class*=theme-light] [class*=codeRedemptionRedirect-] {
  background-color: rgba(99, 101, 131, 0.15);
  color: var(--white);
}
[class*=theme-dark] [class*=lookFilled-][class*=colorPrimary-], [class*=theme-light] [class*=lookFilled-][class*=colorPrimary-] {
  background-color: var(--text-muted);
}
[class*=theme-dark] [class*=lookFilled-][class*=colorPrimary-]:hover, [class*=theme-light] [class*=lookFilled-][class*=colorPrimary-]:hover {
  background-color: var(--purple) !important;
}
[class*=theme-dark] [class*=defaultIndicator-], [class*=theme-light] [class*=defaultIndicator-] {
  font-size: 0.8rem;
  padding: 3px;
  font-family: var(--font-headline);
  letter-spacing: 1px;
  color: var(--text-alt);
  background-color: var(--purple);
}
[class*=theme-dark] [class*=lookFilled-][class*=colorGrey-], [class*=theme-light] [class*=lookFilled-][class*=colorGrey-] {
  background-color: var(--green);
}
[class*=theme-dark] [class*=lookFilled-][class*=colorGrey-]:hover, [class*=theme-light] [class*=lookFilled-][class*=colorGrey-]:hover {
  background-color: var(--color11) !important;
}

[class*=sidebar-] {
  background: none;
  padding: 10px;
  margin: 20px 0px 10px 20px;
  /* Uncommented because it looks bad on servers with banners. */
  /* [class*="unreadTop-"] {
         border-radius: 0;
         border-top: dashed 2px var(--brown);
         margin: 0 20px;
   }*/
}
[class*=sidebar-] [class*=container-],
[class*=sidebar-] [class*=privateChannels-] {
  border-radius: 32px;
}
[class*=sidebar-] [class*=privateChannels-] [class*=searchBar-] {
  margin: 10px;
}
[class*=sidebar-] [class*=privateChannels-] [class*=searchBar-] [class*=searchBarComponent-] {
  background-color: var(--drk-brown);
}
[class*=sidebar-] [class*=privateChannels-] [class*=avatar-] path:first-of-type {
  fill: var(--drk-brown);
}
[class*=sidebar-] [class*=privateChannels-] [class*=headerText-],
[class*=sidebar-] [class*=privateChannels-] [class*=activityText-],
[class*=sidebar-] [class*=privateChannels-] [class*=subText-] {
  color: var(--drk-brown);
}
[class*=sidebar-] [class*=animatedContainer-] {
  border-radius: 32px 32px 0 0;
}
[class*=sidebar-] [class*=header-] {
  margin-top: 10px;
  border-radius: 50px;
}
[class*=sidebar-] [class*=header-] h1 {
  font-family: var(--font-headline);
  font-size: 1em;
  padding: 10px;
}
[class*=sidebar-] [class*=mainContent-] h2 [class*=overflow-] {
  font-family: var(--font-headline);
}
[class*=sidebar-] [class*=arrow-],
[class*=sidebar-] .mainContent-uDGa6R {
  margin-left: 10px;
}
[class*=sidebar-] [class*=containerDefault-] [class*=wrapper-]:hover [class*=content-] {
  background-color: transparent !important;
}
[class*=sidebar-] [class*=containerDefault-] [class*=wrapper-] [class*=content-] {
  border-radius: 24px;
}
[class*=sidebar-] [class*=containerDefault-] [class*=mainContent-]:hover::before {
  border-radius: 24px;
  background-color: var(--lt-yellow);
  background-image: var(--yellow-stripes);
  background-size: 100px;
  animation: var(--btn-anim);
}
[class*=sidebar-] [class*=containerDefault-] [class*=icon-] path {
  fill: var(--brown);
}
[class*=sidebar-] [class*=containerDefault-] [class*=channelName-] {
  font-family: var(--font-primary);
  font-weight: 400;
}
[class*=sidebar-] [class*=containerDefault-] [class*=unread-] {
  background-color: var(--red);
}
[class*=sidebar-] [class*=containerDefault-] [class*=userLimit-] [class*=total-] {
  background-color: var(--red);
}
[class*=sidebar-] [class*=containerDefault-] [class*=userLimit-] [class*=total-]::after {
  border-right-color: var(--red);
}
[class*=sidebar-] [class*=containerDefault-] [class*=userLimit-] [class*=users-] {
  background-color: var(--drk-brown);
}
[class*=sidebar-] [class*=name-] {
  color: var(--brown);
}

[class*=guilds-] {
  margin: 30px 0px 20px 20px;
}
[class*=guilds-] [class*=scroller-] {
  border-radius: 32px;
  background-color: var(--cream);
  padding: 20px 0;
}
[class*=guilds-] .listItem-GuPuDH .guildSeparator-33mFX6 {
  background-color: none;
  border-top: dashed 2px var(--brown);
}
[class*=guilds-] .listItem-GuPuDH .childWrapper-anI2G9 {
  background-color: var(--lt-brown);
}
[class*=guilds-] .listItem-GuPuDH .childWrapper-anI2G9:hover {
  background-color: var(--md-brown);
}
[class*=guilds-] .listItem-GuPuDH .homeIcon-FuNwkv path {
  fill: #5865F2;
}
[class*=guilds-] .listItem-GuPuDH .childWrapper-anI2G9:hover .homeIcon-FuNwkv path {
  fill: var(--drk-brown);
}
[class*=guilds-] [class*=closedFolder] {
  background-color: var(--lt-brown);
}
[class*=guilds-] [class*=closedFolder]:hover {
  background-color: var(--md-brown);
}
[class*=guilds-] [class*=pill-] [class*=item-] {
  background-color: var(--brown);
}
[class*=guilds-] [class*=upperBadge-] [class*=iconBadge-] path {
  fill: var(--drk-brown);
}

[class*=sidebar-] section[class*=panels-] {
  margin-top: 20px;
  padding: 8px;
  border-radius: 32px;
}
[class*=sidebar-] section[class*=panels-]:hover [class*=subtext-] {
  color: var(--brown);
}
[class*=sidebar-] [class*=rtcConnectionStatus-] [class*=contents-] {
  color: var(--background-tertiary);
}
[class*=sidebar-] [class*=rtcConnectionStatus-] [class*=ping-] path {
  fill: var(--background-tertiary);
}

[class*=chat-], [class*=threadSidebar-] {
  background-color: none;
}

.container-3RCQyg {
  border-bottom: dashed 2px var(--cream);
}

[id*=chat-messages-] [class*=emptyChannelIcon-] {
  background-color: var(--drk-brown);
}
[id*=chat-messages-] [class*=fontDisplay-] {
  font-family: var(--font-headline);
  color: rgba(0, 0, 0, 0.7);
}

[class*=messagesWrapper-] {
  padding: 4px;
}
[class*=messagesWrapper-] [class*=form-] [class*=icon-] path {
  fill: var(--drk-brown);
}
[class*=messagesWrapper-] [class*=form-] [class*=title-] {
  font-family: var(--font-headline);
  letter-spacing: 0.5px;
  color: var(--drk-brown);
}
[class*=messagesWrapper-] [class*=form-] [class*=inputDefault-] {
  background-color: var(--btn-color);
  background-image: var(--btn-stripes);
  border: var(--btn-border);
  border-radius: 50px;
  height: 50px;
  padding: 10px 20px;
}
[class*=messagesWrapper-] [class*=form-] [class*=input-],
[class*=messagesWrapper-] [class*=form-] [class*=input-]:focus,
[class*=messagesWrapper-] [class*=form-] [class*=input-]:active,
[class*=messagesWrapper-] [class*=form-] [class*=input-]::placeholder {
  color: #FFF;
  font-family: var(--font-headline);
  font-size: 10pt;
}
[class*=messagesWrapper-] [class*=starterMessageError-] {
  background-color: var(--red);
  border-radius: 10px;
}
[class*=messagesWrapper-] [class*=starterMessageError-] [class*=text-xs-normal-] {
  color: var(--cream) !important;
  padding: 10px;
}
[class*=messagesWrapper-] [class*=scroller-] {
  background-color: none;
  margin: 10px 10px 10px 0;
}
[class*=messagesWrapper-] [class*=mentioned-]:before,
[class*=messagesWrapper-] [class*=ephemeral-]:before,
[class*=messagesWrapper-] [class*=replying-]:before {
  width: 6px;
  margin: 50px 0;
  border-radius: 20px;
  background-color: rgba(46, 41, 33, 0.1);
}
[class*=messagesWrapper-] [class*=message-] {
  max-width: 100%;
  margin-right: 50px;
  border-radius: 32px;
}
[class*=messagesWrapper-] [class*=message-] :hover {
  background-color: rgba(206, 175, 128, 0.01);
}
[class*=messagesWrapper-] [class*=message-] .mention:hover {
  color: var(--background-tertiary);
}
[class*=messagesWrapper-] [class*=message-] [class*=repliedMessage-]::before {
  border-left: 2px solid var(--cream);
  border-right: 0 solid var(--cream);
  border-top: 2px solid var(--cream);
  border-bottom: 0 solid var(--cream);
}
[class*=messagesWrapper-] [class*=message-] [class*=repliedMessage-] [class*=messageContent-] {
  background-color: transparent;
  padding: 0;
  margin-left: 0px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.6);
}
[class*=messagesWrapper-] [class*=message-] [class*=repliedMessage-] [class*=messageContent-] a {
  color: rgba(0, 0, 0, 0.6);
}
[class*=messagesWrapper-] [class*=message-] [class*=messageContent-] {
  background-color: var(--cream);
  padding: 10px 20px;
  margin-left: 0px;
  margin-bottom: 10px;
  border-radius: 2em 1.8em;
  inline-size: max-content;
  width: max-content;
  max-width: 100%;
  overflow-wrap: break-word;
}
[class*=messagesWrapper-] [class*=message-] [class*=messageContent-] code {
  background-color: var(--drk-brown);
  color: var(--cream);
  border-radius: 5px;
  padding: 10px;
  border: none;
}
[class*=messagesWrapper-] [class*=message-] [class*=messageContent-] code [class*=-built_in] {
  color: var(--bg-pink);
}
[class*=messagesWrapper-] [class*=message-] [class*=messageContent-] code [class*=-keyword] {
  color: var(--bg-teal);
}
[class*=messagesWrapper-] [class*=message-] [class*=messageContent-] code [class*=-number] {
  color: var(--bg-maple);
}
[class*=messagesWrapper-] [class*=message-] [class*=messageContent-] code [class*=-comment] {
  color: var(--bg-lime);
}
[class*=messagesWrapper-] [class*=message-] [class*=messageContent-] code [class*=-string] {
  color: var(--md-brown);
}
[class*=messagesWrapper-] [class*=message-] [class*=messageContent-] code [class*=-function] [class*=-title] {
  color: var(--bg-blue);
}
[class*=messagesWrapper-] [class*=message-] [class*=messageContent-] code [class*=-class] [class*=-title] {
  color: var(--yellow);
}
[class*=messagesWrapper-] [class*=message-] [class*=messageContent-] .inline {
  background-color: var(--drk-brown);
  color: var(--cream);
  border-radius: 5px;
  padding: 5px;
  border: none;
}
[class*=messagesWrapper-] [class*=message-] [class*=reactions-] [class*=reaction-]:hover {
  background-color: var(--cream);
}
[class*=messagesWrapper-] [class*=message-] [class*=reactions-] [class*=reaction-]:hover [class*=reactionInner-] [class*=reactionCount-] {
  color: var(--drk-brown);
}
[class*=messagesWrapper-] [class*=message-] [class*=reactions-] [class*=reaction-] {
  display: flex;
  place-items: center;
  border-radius: 2em;
  background-color: transparent;
  border: solid 2px var(--cream);
}
[class*=messagesWrapper-] [class*=message-] [class*=reactions-] [class*=reaction-] [class*=reactionInner-] {
  display: flex;
  place-items: center;
  position: relative;
  font-family: var(--font-headline);
}
[class*=messagesWrapper-] [class*=message-] [class*=reactions-] [class*=reaction-] [class*=reactionInner-] [class*=reactionCount-] {
  color: var(--cream);
}
[class*=messagesWrapper-] [class*=message-] [class*=reactions-] [class*=reactionMe-] {
  background-color: var(--cream);
}
[class*=messagesWrapper-] [class*=message-] [class*=reactions-] [class*=reactionMe-] [class*=reactionInner-] [class*=reactionCount-] {
  color: var(--drk-brown);
}
[class*=messagesWrapper-] [class*=message-] [class*=avatar-] {
  border: solid 5px var(--cream);
}
[class*=messagesWrapper-] [class*=message-] [class*=header-] {
  margin-bottom: 10px;
}
[class*=messagesWrapper-] [class*=message-] [class*=username-] {
  color: var(--drk-brown);
  font-family: var(--font-headline);
}
[class*=messagesWrapper-] [class*=message-] [class*=timestamp-] {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}
[class*=messagesWrapper-] [class*=message-] [class*=buttonContainer-] {
  margin-top: 30px;
}
[class*=messagesWrapper-] [class*=message-] [class*=buttonContainer-] [class*=wrapper-] {
  padding: 0;
}
[class*=messagesWrapper-] [class*=message-] [class*=buttonContainer-] [class*=button-] {
  border-radius: 50px 50px 50px 50px;
  background-color: var(--drk-brown);
}
[class*=messagesWrapper-] [class*=message-] [class*=buttonContainer-] [class*=button-] [class*=icon-] path {
  fill: var(--cream);
}
[class*=messagesWrapper-] [class*=message-] [class*=buttonContainer-] [class*=button-]:hover {
  background-color: var(--brown);
}
[class*=messagesWrapper-] [class*=container-] {
  margin-bottom: 10px;
}
[class*=messagesWrapper-] [class*=container-] [class*=wrapper-],
[class*=messagesWrapper-] [class*=container-] [class*=wrapperAudio-] {
  border-radius: 2em 1.8em;
  padding: 20px 30px;
}
[class*=messagesWrapper-] [class*=container-] [class*=textContainer-] {
  border-radius: 2em 2em 0px 0px;
  padding: 20px 30px;
}
[class*=messagesWrapper-] [class*=container-] [class*=colorHeaderSecondary-] {
  border-radius: 0px 0px 2em 2em;
}
[class*=messagesWrapper-] [class*=container-] [class*=embedWrapper-] {
  border-radius: 6px 40px 20px 6px;
}

[class*=chatContent-] {
  background-color: none;
  margin-top: 20px;
}
[class*=chatContent-] [class*=icon-] path {
  fill: var(--drk-brown);
}
[class*=chatContent-] [class*=heading-],
[class*=chatContent-] [class*=subtitle-],
[class*=chatContent-] [class*=text-md-normal-],
[class*=chatContent-] [class*=threadCreatorName-] {
  font-family: var(--font-headline);
  color: var(--drk-brown) !important;
}
[class*=chatContent-] [class*=text-md-normal-] {
  font-size: 12pt;
}
[class*=chatContent-] [class*=subtitle-] {
  font-size: 14pt;
}

[class*=divider-] {
  border-top: solid 2px var(--yellow);
  border-bottom: solid 2px var(--yellow);
  border-radius: 20px;
}
[class*=divider-] [class*=content-] {
  background-color: var(--yellow);
  padding: 5px 10px;
  color: var(--brown);
}

[class*=channelTextArea-] {
  border-radius: 1em;
  width: 100%;
  margin: 20px 20px 20px 0;
}
[class*=channelTextArea-] [class*=attachedBars-] {
  border-bottom: 1px solid var(--line-highlight);
}
[class*=channelTextArea-] [class*=attachedBars-] [class*=replyBar-] {
  background-color: var(--background-secondary-alt);
}
[class*=channelTextArea-] [class*=scrollableContainer-] {
  padding: 12px;
  border-radius: 32px;
  background-color: var(--background-secondary-alt);
}

[class*=typing-] {
  margin-top: 20px;
}

.zalgo-26OfGz.cozy-VmLDNB .header-2jRmjb {
  overflow: visible;
}

[class*=username-] {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 10pt;
  color: var(--drk-brown);
}

[class*=callContainer-] {
  margin: 30px 20px 20px 10px;
}

[class*=peopleColumn-] {
  height: max-content;
  max-height: 100%;
}
[class*=peopleColumn-] [class*=title-] {
  background-color: var(--cream);
  font-family: var(--font-headline);
  padding: 20px;
  margin-bottom: 0;
  border-radius: 32px;
  text-align: center;
}
[class*=peopleColumn-] [class*=peopleList-] {
  background-color: var(--cream);
  border-radius: 32px;
  padding-top: 10px;
  margin: 20px;
}
[class*=peopleColumn-] [class*=peopleList-] [class*=peopleListItem-]:first-of-type {
  border: none;
}
[class*=peopleColumn-] [class*=peopleList-] [class*=peopleListItem-]:hover {
  border-radius: 24px;
  background: var(--orange-stripes);
  background-size: 150px;
  background-color: var(--lt-orange);
}
[class*=peopleColumn-] [class*=peopleList-] [class*=peopleListItem-] {
  border-top: dashed 2px var(--md-brown);
}
[class*=peopleColumn-] [class*=peopleList-] [class*=peopleListItem-] [class*=username-] {
  margin: 0;
  padding: 0;
}

[class*=membersWrap] {
  padding: 0 10px;
  border-radius: 32px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
[class*=membersWrap] [class*=members] {
  border-radius: 32px;
  color: var(--drk-brown);
}
[class*=membersWrap] [class*=membersGroup-] {
  font-family: var(--font-headline);
  margin: 0 20px;
}
[class*=membersWrap] [class*=member-] {
  margin: 0 20px;
}
[class*=membersWrap] [class*=activityText-] {
  color: var(--drk-brown);
}
[class*=membersWrap] [class*=name-] {
  font-family: var(--font-headline);
  font-size: 10pt;
}
[class*=membersWrap] [class*=roleColor-] {
  color: var(--brown);
}
[class*=membersWrap] [class*=icon-] path {
  fill: var(--drk-brown);
}

.container-2o3qEW {
  border-radius: 32px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.container-2o3qEW [class*=membersWrap] {
  margin-top: 0;
}
.container-2o3qEW [class*=membersWrap] [class*=membersGroup-] {
  font-family: var(--font-headline);
  margin: 0;
}
.container-2o3qEW [class*=membersWrap] [class*=member-] {
  margin: 0;
}

[class*=container-][class*=themed-] {
  margin: 30px 10px 0px 30px;
  width: auto;
  position: relative;
  z-index: 999;
}
[class*=container-][class*=themed-] [class*=children-],
[class*=container-][class*=themed-] [class*=toolbar-] {
  background-color: var(--yellow) !important;
  height: 100%;
}
[class*=container-][class*=themed-] [class*=children-] [class*=icon-] path,
[class*=container-][class*=themed-] [class*=toolbar-] [class*=icon-] path {
  fill: var(--drk-brown);
}
[class*=container-][class*=themed-] [class*=children-] [class*=caret-],
[class*=container-][class*=themed-] [class*=children-] [class*=colorInteractiveNormal-],
[class*=container-][class*=themed-] [class*=toolbar-] [class*=caret-],
[class*=container-][class*=themed-] [class*=toolbar-] [class*=colorInteractiveNormal-] {
  color: var(--drk-brown);
  font-family: var(--font-headline);
}
[class*=container-][class*=themed-] [class*=children-] [class*=icon-]:hover path,
[class*=container-][class*=themed-] [class*=toolbar-] [class*=icon-]:hover path {
  fill: var(--brown);
}
[class*=container-][class*=themed-] [class*=children-] {
  border-radius: 10px 0px 0px 10px;
}
[class*=container-][class*=themed-] [class*=toolbar-] {
  border-radius: 0px 10px 10px 0px;
}
[class*=container-][class*=themed-] [class*=title-] {
  font-family: var(--font-headline);
}
[class*=container-][class*=themed-] [class*=divider-] {
  background-color: var(--brown);
  width: 2px;
}
[class*=container-][class*=themed-] [class*=search-] [class*=searchBar-] {
  background-color: var(--drk-brown);
  padding: 0 5px;
}
[class*=container-][class*=themed-] [class*=search-] [class*=searchBar-] .public-DraftEditorPlaceholder-root {
  color: var(--brown);
}
[class*=container-][class*=themed-] [class*=search-] [class*=searchBar-] .public-DraftEditor-content {
  color: var(--cream);
}

[class*=akaBadge-] {
  background-color: var(--red);
  color: var(--cream);
}

[class*=themed-]::before {
  content: url("https://github.com/mishakov7/ACNH-BetterDiscord/blob/main/src/assets/ribbon-end.png?raw=true");
  position: absolute;
  width: 73px;
  height: 48px;
  top: 10px;
  left: -30px;
  z-index: -1;
}

[class*=layerContainer-] [class*=container-] {
  background-color: var(--drk-brown);
  border-radius: 24px;
  border: none;
}
[class*=layerContainer-] [class*=container-] [class*=resultsGroup-] {
  border: none;
}
[class*=layerContainer-] [class*=layer-] {
  color: var(--cream);
}
[class*=layerContainer-] [class*=layer-] [class*=tooltipContent-],
[class*=layerContainer-] [class*=layer-] [class*=guildNameText-] {
  color: var(--cream);
  font-family: var(--font-primary);
  font-weight: 400;
}
[class*=layerContainer-] [class*=layer-] [class*=menu-] {
  border-radius: 32px;
  padding: 8px 0;
}
[class*=layerContainer-] [class*=layer-] [class*=menu-] [class*=item-] {
  margin: 0;
}
[class*=layerContainer-] [class*=layer-] [class*=menu-] [class*=separator-] {
  border: none;
  height: 2px;
  background-color: var(--cream);
  border-radius: 20px;
}
[class*=layerContainer-] [class*=layer-] [class*=menu-] [class*=scroller-] div {
  color: var(--cream);
  font-size: 11pt;
}
[class*=layerContainer-] [class*=layer-] [class*=bar-] [class*=barFill-] {
  background-color: var(--background-tertiary);
}
[class*=layerContainer-] [id*=popout_] {
  color: var(--cream);
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] {
  border-radius: 75px 12px 32px 32px;
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=headerText-],
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=headerTag],
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=nickname-] {
  font-family: var(--font-headline);
  letter-spacing: 0.5px;
  font-size: 14pt;
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=headerText-],
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=headerTag] {
  color: var(--cream);
  font-size: 12pt;
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=nickname-] {
  margin-bottom: 5px;
  color: var(--md-brown);
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] [class*=divider-] {
  border: none;
  height: 2px;
  border-radius: 20px;
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] [class*=customStatusText-],
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] [class*=aboutMeBody-],
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] [class*=userInfoBody-],
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] [class*=bodyTitle-],
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] textarea {
  color: var(--cream);
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] [class*=customStatusText-] .inline,
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] [class*=aboutMeBody-] .inline,
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] [class*=userInfoBody-] .inline,
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] [class*=bodyTitle-] .inline,
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] textarea .inline {
  color: var(--drk-brown);
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] textarea:focus {
  background-color: var(--brown);
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] [class*=bodyTitle-],
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] [class*=aboutMeTitle-] {
  font-family: var(--font-headline);
  font-size: 8pt;
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] a {
  color: var(--background-tertiary);
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] [class*=rolesList-] {
  background: transparent !important;
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=body-] [class*=rolesList-] button svg path {
  fill: var(--drk-brown);
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=footer-] {
  background-color: var(--drk-brown);
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=footer-] [class*=inputWrapper-] {
  color: #FFF;
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=footer-] [class*=inputWrapper-] [class*=inputDefault-] {
  background-color: var(--btn-color);
  border: solid 5px var(--btn-color);
  border-radius: 50px;
  height: 50px;
  padding: 10px 20px;
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=footer-] [class*=inputWrapper-] [class*=inputDefault-]:focus {
  background-image: var(--teal-stripes);
  background-position-x: 0px;
  border: var(--btn-border);
  animation: var(--btn-anim);
}
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=footer-] [class*=inputWrapper-] [class*=input-],
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=footer-] [class*=inputWrapper-] [class*=input-]:focus,
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=footer-] [class*=inputWrapper-] [class*=input-]:active,
[class*=layerContainer-] [id*=popout_] [class*=userPopout-] [class*=footer-] [class*=inputWrapper-] [class*=input-]::placeholder {
  color: #FFF;
  font-family: var(--font-headline);
  font-size: 10pt;
}
[class*=layerContainer-] [id*=popout_] [class*=animatorBottom-] [class*=container-],
[class*=layerContainer-] [id*=popout_] [class*=animatorTop-] [class*=container-] {
  background-color: var(--brown);
}
[class*=layerContainer-] [id*=popout_] [class*=animatorBottom-] [class*=container-] [class*=item-] [class*=itemLabel-],
[class*=layerContainer-] [id*=popout_] [class*=animatorTop-] [class*=container-] [class*=item-] [class*=itemLabel-] {
  color: var(--cream);
}
[class*=layerContainer-] [id*=popout_] [class*=animatorBottom-] [class*=container-] [class*=item-]:hover,
[class*=layerContainer-] [id*=popout_] [class*=animatorTop-] [class*=container-] [class*=item-]:hover {
  background-color: var(--cream);
}
[class*=layerContainer-] [id*=popout_] [class*=animatorBottom-] [class*=container-] [class*=item-]:hover [class*=itemLabel-],
[class*=layerContainer-] [id*=popout_] [class*=animatorTop-] [class*=container-] [class*=item-]:hover [class*=itemLabel-] {
  color: var(--drk-brown);
}
[class*=layerContainer-] [id*=popout_] [class*=headerTextNormal-],
[class*=layerContainer-] [id*=popout_] [class*=eyebrow-],
[class*=layerContainer-] [id*=popout_] [class*=bodyTitle-],
[class*=layerContainer-] [id*=popout_] [class*=overflow-] {
  font-family: var(--font-headline);
  letter-spacing: 0.5px;
  font-size: 8pt;
  color: var(--cream) !important;
}
[class*=layerContainer-] [id*=popout_] [class*=activityUserPopout-] [class*=contentImagesUserPopout-],
[class*=layerContainer-] [id*=popout_] [class*=activityUserPopout-] [class*=contentGameImageUserPopout-],
[class*=layerContainer-] [id*=popout_] [class*=activityUserPopout-] [class*=activityName-],
[class*=layerContainer-] [id*=popout_] [class*=activityUserPopout-] [class*=nameNormal-],
[class*=layerContainer-] [id*=popout_] [class*=activityUserPopout-] [class*=details-],
[class*=layerContainer-] [id*=popout_] [class*=activityUserPopout-] [class*=nameWrap-] {
  color: var(--cream);
}
[class*=layerContainer-] [id*=popout_] [class*=activityUserPopout-] [class*=gameIcon-] path {
  fill: var(--cream);
}
[class*=layerContainer-] [id*=popout_] [class*=activityUserPopout-] [class*=button-] {
  background-color: var(--brown);
}
[class*=layerContainer-] [id*=popout_] [class*=activityUserPopout-] [class*=button-]:hover {
  background-color: var(--background-tertiary) !important;
}
[class*=layerContainer-] [id*=popout_] [class*=timeBarUserPopout-] [class*=bar-] {
  background-color: var(--brown);
}
[class*=layerContainer-] [id*=popout_] [class*=timeBarUserPopout-] [class*=barInner-] {
  background-color: var(--background-tertiary);
}

/*# sourceMappingURL=ac.theme.css.map */
