// CHAT BODY
[class*="chat-"], [class*="threadSidebar-"] {
    background-color: none;
}

.container-3RCQyg {
  border-bottom: dashed 2px var(--cream);
}

// CHAT AREA
[class*="chatContent-"] {
    background-color: none;
    margin-top: 20px;

    [class*="messagesWrapper-"] {
      padding: 4px;

      [class*="scroller-"] {
        background-color: none;
        margin: 10px 10px 10px 0;
      }

      // NORMAL MESSAGES
      [class*="message-"] {
        max-width: 100%;
        margin-right: 50px;
        border-radius: 32px;

        :hover {
          background-color: rgba(206, 175, 128, 0.01);
        }

        [class*="messageContent-"] {
          background-color: var(--cream);
          padding: 10px 30px 15px 30px;
          margin-left: 0px;
          margin-bottom: 10px;

          border-radius: 15px 15px 45px 45px;
          inline-size: max-content;
          width: max-content;
          max-width: 100%;
          overflow-wrap: break-word;
        }

        [class*="avatar-"] {
          border: solid 5px var(--cream);
        }

        [class*="username-"] {
          color: var(--cream);
        }

        [class*="timestamp-"] {
          color: var(--brown);
        } 

        [class*="buttonContainer-"] {

          margin-top: 30px;

          [class*="wrapper-"] {
            padding: 0;
          }

          [class*="button-"] {
            border-radius: 50px 50px 50px 50px;

            [class*="icon-"] path {
              fill: rgba(39, 35, 29, 0.5);
            }
          }
        }
      }

      // OTHER MESSAGES
      [class*="container-"] {

        margin-bottom: 10px;

        [class*="wrapper-"],
        [class*="wrapperAudio-"] {
          border-radius: 40px 40px 20px 20px;
          padding: 20px 30px;
        }

        [class*="textContainer-"] {
          border-radius: 40px 40px 0px 0px;
          padding: 20px 30px;
        }

        [class*="colorHeaderSecondary-"] {
          border-radius: 0px 0px 20px 20px;
        }

        [class*="embedWrapper-"] {
          border-radius: 6px 40px 20px 6px;
        }

      }
    }
}

[class*="divider-"] {
  border-top: dashed 2px var(--cream);

  [class*="content-"] {
    background-color: var(--cream);
    padding: 5px 10px;
    color: var(--brown);
  }
}

// MESSAGE TEXTAREA
[class*="channelTextArea-"] {
  border-radius: 32px;
  width: 100%;
  margin: 20px 20px 20px 0;

  [class*="attachedBars-"] {
    border-bottom: 1px solid var(--line-highlight);

  [class*="replyBar-"] {
    background-color: var(--background-secondary-alt);
  }
  }

  [class*="scrollableContainer-"] {
    padding: 12px;
    border-radius: 32px;
    background-color: var(--background-secondary-alt);
  }
}