
.container-1r6BKw.themed-ANHk51,
.container-ZMc96U.themed-Hp1KC_ {
    // background-color: var(--yellow);
    margin: 30px 10px 0px 30px;
    width: auto;

    position: relative;
    z-index: 999;

    [class*="children-"],
    [class*="toolbar-"] {
        background-color: var(--yellow)!important;
        height: 100%;

        [class*="icon-"] path {
            fill: var(--drk-brown);
        }

        [class*="caret-"],
        [class*="colorInteractiveNormal-"] {
            color: var(--drk-brown);
            font-family: var(--font-headline);
        }

        [class*="icon-"]:hover path {
            fill: var(--brown);
        }
    }

    [class*="children-"] {
        border-radius: 10px 0px 0px 10px;
    }

    [class*="toolbar-"] {
        border-radius: 0px 10px 10px 0px;
    }
    

    [class*="title-"] {
        font-family: var(--font-headline);
    }
    
    [class*="divider-"] {
        background-color: var(--brown);
        width: 2px;
    }

    [class*="search-"] {

        [class*="searchBar-"] {
            background-color: var(--drk-brown);
            padding: 0 5px;

            .public-DraftEditorPlaceholder-root {
                color: var(--brown);
            }

            .public-DraftEditor-content {
                color: var(--cream);
            }
        }
    }
}

.title-3qD0b-::before,
.title-31SJ6t::before {
    content: url('https://github.com/mishakov7/ACNH-BetterDiscord/blob/main/src/assets/ribbon-end.png?raw=true');
    position: absolute;
    width: 73px;
    height: 48px;

    top: 10px;
    left: -30px;
    z-index: -1;
}