.container-1r6BKw.themed-ANHk51 {
    // background-color: var(--yellow);
    margin: 30px 10px 0px 30px;
    width: auto;

    position: relative;
    z-index: 999;

    .children-19S4PO,
    .toolbar-1t6TWx {
        background-color: var(--yellow);
        height: 100%;
    }

    .children-19S4PO {
        border-radius: 10px 0px 0px 10px;
    }

    .toolbar-1t6TWx {
        border-radius: 0px 10px 10px 0px;
    }
    
    h3.title-29uC1r {
        font-family: var(--font-headline);
    }
    
    .divider-3FBTu8 {
        background-color: var(--brown);
        width: 2px;
    }

    [class*="search-"] {

        .searchBar-3dMhjb {
            background-color: var(--drk-brown);

            .public-DraftEditorPlaceholder-root {
                color: var(--brown);
            }
        }
    }
}

.title-3qD0b-::before {
    content: url('https://github.com/mishakov7/ACNH-BetterDiscord/blob/main/src/assets/ribbon-end.png?raw=true');
    position: absolute;
    width: 73px;
    height: 48px;

    top: 10px;
    left: -30px;
    z-index: -1;
}