// @import '';

[class*="membersWrap"] {
    padding: 0 10px;

    border-radius: 32px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;

    [class*="members"] {
        border-radius: 32px;
        color: var(--drk-brown);
    }

    [class*="membersGroup-"] {
        font-family: var(--font-headline);
        margin: 0 20px;
    }

    [class*="member-"] {
        margin: 0 20px;
    }

    [class*="activityText-"] {
        color: var(--drk-brown);
    }

    [class*="name-"] {
        font-family: var(--font-headline);
        font-size: 10pt;
    }

    [class*="roleColor-"] {
        color: var(--brown);
    }

    [class*="icon-"] path {
        fill: var(--drk-brown);
    }
}

.container-2o3qEW {
    border-radius: 32px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;

    [class*="membersWrap"] {
        margin-top: 0;

        [class*="membersGroup-"] {
            font-family: var(--font-headline);
            margin: 0;
        }
    
        [class*="member-"] {
            margin: 0;
        }
    
    }

}

// Righthand sidebar "Active Now"
[class*="nowPlayingColumn-"] {
    @include container;

    [class*="scroller-"] {
        border: none;
    }

    h3 {
        text-align: center;
        font-family: var(--font-headline);
    }

    [class*="itemCard-"] {
        border-radius: 0;
        border: none;
        border-bottom: dashed 2px var(--md-brown);


        [class*="body-"] {
            background-color: var(--drk-brown);
            transition: background-color 0.2s;

            div {
                color: var(--cream);
            }
        }
    }

    [class*="itemCard-"]:hover {
        background-color: transparent!important;

        [class*="body-"] {
            background-color: var(--brown);
        }

    }
}