[class*="membersWrap"] {
    margin: 20px;

    [class*="members"] {
        border-radius: 32px;
    }
}

.container-2o3qEW {
    border-radius: 32px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;

    // .membersWrap-3NUR2t {
    //     color: red;
    // }
}