// SERVER INFORMATION
[class*="sidebar-"] {

    // LOGGED IN USER INFO
    section[class*="panels-"] {
      margin-top: 20px;
      padding: 8px;
      border-radius: 32px;

      &:hover {
        [class*="subtext-"] {
          color: var(--brown);
        }
      }
    }

    [class*="rtcConnectionStatus-"] {
      // color: black;

      [class*="contents-"] {
        color: var(--background-tertiary);
      }

      [class*="ping-"] path {
        fill: var(--background-tertiary);
      }

    }

  }