[class*="layerContainer-"] {

    [class*="container-"] {
        background-color: var(--drk-brown);
        border-radius: 24px;
        border: none;

        [class*="resultsGroup-"] {
            border: none;
        }
    }

    [class*="layer-"] {

        color: var(--cream);

        [class*="tooltipContent-"],
        [class*="guildNameText-"] {
            color: var(--cream);
            font-family: var(--font-primary);
            font-weight: 400;
        }

        [class*="menu-"] {
            border-radius: 32px;
            padding: 8px 0;

            [class*="item-"] {
                margin: 0;
            }

            [class*="separator-"] {
                border: none;
                height: 2px;
                background-color: var(--cream);
                border-radius: 20px;
            }

            [class*="scroller-"] div {
                color: var(--cream);
                font-size: 11pt;
                // margin-bottom: 0;
            }
        }

        [class*="bar-"] {
            [class*="barFill-"] {
                background-color: var(--background-tertiary);
            }
        }
    }

    [id*="popout_"] {
        color: var(--cream);

        [class*="userPopout-"] {
            border-radius: 32px;

            [class*="avatar-"] {
                border-radius: 50px;
            }

            [class*="headerText-"],
            [class*="headerTag"],
            [class*="nickname-"] {
                font-family: var(--font-headline);
                letter-spacing: 0.5px;
                font-size: 14pt;
            }

            [class*="headerText-"],
            [class*="headerTag"] {
                color: var(--cream);
                font-size: 12pt;
            }

            [class*="nickname-"] {
                margin-bottom: 5px;
                color: var(--md-brown);
            }


            [class*="body-"] {
                [class*="divider-"] {
                    border: none;
                    height: 2px;
                    border-radius: 20px;
                }

                [class*="customStatusText-"],
                [class*="aboutMeBody-"],
                [class*="userInfoBody-"],
                [class*="bodyTitle-"],
                textarea {
                    color: var(--cream);

                    .inline {
                        color: var(--drk-brown);
                    }
                }

                textarea:focus {
                    background-color: var(--brown);
                }

                [class*="bodyTitle-"],
                [class*="aboutMeTitle-"] {
                    font-family: var(--font-headline);
                    font-size: 8pt;
                }

                a {
                    color: var(--background-tertiary);
                }

                [class*="rolesList-"] {
                    background: transparent!important;

                    button svg path {
                        fill: var(--drk-brown);
                    }
                }
            }

            [class*="footer-"] {
                background-color: var(--drk-brown);
                
                [class*="inputWrapper-"] {
                    color: #FFF;

                    [class*="inputDefault-"] {
                        background-color: var(--btn-color);
                        // background-image: var(--btn-stripes);
                        // border: var(--btn-border);
                        border: solid 5px var(--btn-color);
                        border-radius: 50px;
                        height: 50px;
                        padding: 10px 20px;
                    }

                    [class*="inputDefault-"]:focus {
                        background-image: var(--teal-stripes);
                        background-position-x: 0px;
                        border: var(--btn-border);
                        animation: var(--btn-anim);
                    }

                    [class*="input-"],
                    [class*="input-"]:focus,
                    [class*="input-"]:active,
                    [class*="input-"]::placeholder {
                        color: #FFF;
                        font-family: var(--font-headline);
                        font-size: 10pt;
                    }
                }
            }
        }

        [class*="animatorBottom-"],
        [class*="animatorTop-"] {
            [class*="container-"] {
                background-color: var(--brown);

                [class*="item-"] {
                    [class*="itemLabel-"] {
                        color: var(--cream);
                    }
                }

                [class*="item-"]:hover {
                    background-color: var(--cream);

                    [class*="itemLabel-"] {
                        color: var(--drk-brown);
                    }
    
                }
            }
            
        }

        [class*="headerTextNormal-"],
        [class*="eyebrow-"],
        [class*="bodyTitle-"],
        [class*="overflow-"] {
            font-family: var(--font-headline);
            letter-spacing: 0.5px;
            font-size: 8pt;
            color: var(--cream)!important;
        }


        [class*="activityUserPopout-"] {
            [class*="contentImagesUserPopout-"],
            [class*="contentGameImageUserPopout-"],
            [class*="activityName-"],
            [class*="nameNormal-"],
            [class*="details-"],
            [class*="nameWrap-"] {
                color: var(--cream);
            }

            [class*="gameIcon-"] path {
                fill: var(--cream);
            }

            [class*="button-"] {
                background-color: var(--brown);
            }
            
            [class*="button-"]:hover {
                background-color: var(--background-tertiary)!important;
            }
        }

        [class*="timeBarUserPopout-"] {
            [class*="bar-"] {
                background-color: var(--brown);
            }

            [class*="barInner-"] {
                background-color: var(--background-tertiary);
            }
        }
    }
}