[class*="layerContainer-"] {

    [class*="layer-"] {

        [class*="tooltipContent-"] {
            color: var(--cream);
            font-family: var(--font-primary);
            font-weight: 400;
        }
    }
}