// SERVER INFORMATION
[class*="sidebar-"] {
    background: none;
    padding: 10px;
    margin: 20px 0px 10px 20px;

    // Event happening
    [class*="channelNotice-"] {

        [class*="text"] {
            color: var(--drk-brown)!important;
        }
        
        button {
            border-radius: 32px;
            background-color: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
            background-image: var(--drk-stripes);
            font-family: var(--font-headline);
            font-size: 10pt;
        }

    }

    [class*="container-"],
    [class*="privateChannels-"] {
        border-radius: 32px;
    }

    [class*="privateChannels-"] {

        [class*="searchBar-"] {
            margin: 10px;

            [class*="searchBarComponent-"] {
                background-color: var(--drk-brown);
            }
        }

        [class*="avatar-"] path:first-of-type {
            fill: var(--drk-brown);
        }

        [class*="headerText-"],
        [class*="activityText-"],
        [class*="subText-"] {
            color: var(--drk-brown);
        }
    }

    [class*="animatedContainer-"] {
        border-radius: 32px 32px 0 0;
    }

    // SERVER NAME
    [class*="header-"] {
    
        margin-top: 10px;
        border-radius: 50px;

        h1 {
            font-family: var(--font-headline);
            font-size: 1em;
            padding: 10px;
        }

    }

    // DASHED LINE
    /* Uncommented because it looks bad on servers with banners. */
    /* [class*="unreadTop-"] {
           border-radius: 0;
           border-top: dashed 2px var(--brown);
           margin: 0 20px;
     }*/

    // CHANNEL CATEGORIES
    [class*="mainContent-"] {
        h2 [class*="overflow-"] {
            font-family: var(--font-headline);
        }
    }

    [class*="arrow-"],
    .mainContent-uDGa6R {
        margin-left: 10px;
    }

    [class*="containerDefault-"] {

        [class*="wrapper-"]:hover [class*="content-"] {
            background-color: transparent!important;
        }

        [class*="wrapper-"] [class*="content-"] {
            border-radius: 24px;
        }

        [class*="mainContent-"]:hover::before {
            border-radius: 24px;
            background-color: var(--lt-yellow);
            background-image: var(--yellow-stripes);
            background-size: 100px;
            animation: var(--btn-anim);
        }

        [class*="icon-"] path {
            fill: var(--brown);
        }

        [class*="channelName-"] {
            font-family: var(--font-primary);
            font-weight: 400;
        }

        [class*="unread-"] {
            background-color: var(--red);
        }

        [class*="userLimit-"] {
            
            [class*="total-"] {
                background-color: var(--red);
            }

            [class*="total-"]::after{
                border-right-color: var(--red);
            }

            [class*="users-"] {
                background-color: var(--drk-brown);
            }
        }
    }

    // TEXT PROPERTIES FOR CHANNELS
    [class*="name-"] {
        color: var(--brown);
    }
  }