@import url("https://raw.githubusercontent.com/mishakov7/ACNH-BetterDiscord/main/src/assets/fonts/fonts.css"); /* Font */

:root {

    --font-primary: 'Istok Web', sans-serif;
    --font-display: 'Istok Web', sans-serif;
    --font-code: 'Source Code Pro', monospace;
    // --font-headline: sce-ps3_rodin_latinregular;
    --font-headline: fot-seurat_regular, sans-serif;
    // --font-headline: Bahnschrift;

    /* base colors */
    --drk-brown: #716550;
    --brown: #968059;
    --md-brown: #DACBAD;
    --lt-brown: #EDE1CB;
    --cream: #F5F3E5; 
    --gray: #CFCEC2;
    --yellow: #FFEB4C;
    --white: #FFF;

    /* background choices */
    --bg-teal: #81D4BA;
    --bg-blue: #8A9AEF;
    --bg-pink: #F3A8B2;
    --bg-lime: #CFDA4F;
    --bg-maple: #E49366;

  }