@import url("https://mishakov7.github.io/ACNH-BetterDiscord/src/assets/fonts/stylesheet.css");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro");
@import url("https://fonts.googleapis.com/css2?family=Quicksand");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {

    --font-headline: 'fot-seurat_regular', 'Quicksand', 'Be Vietnam Pro', sans-serif;
    --font-primary: 'Lato', 'Istok Web', 'Be Vietnam Pro', sans-serif;
    
    --font-display: 'Istok Web', sans-serif;
    --font-code: 'Source Code Pro', monospace;
    --font-headline: 'fot-seurat_regular', sans-serif;

    /* base colors */
    --drk-brown: #716550;
    --brown: #968059;
    --md-brown: #DACBAD;
    --lt-brown: #EDE1CB;
    --cream: #F5F3E5; 
    --gray: #CFCEC2;
    --yellow: #FFEB4C;
    --white: #FFF;
    --red: #e75050;

    /* background choices */
    --bg-teal: #81D4BA;
    --bg-blue: #8A9AEF;
    --bg-pink: #F3A8B2;
    --bg-lime: #CFDA4F;
    --bg-maple: #E49366;

    --btn-color: #00AFA2;
    --btn-border: solid 5px #4AE2D8;
  }